    password = password
    tcp_back_log = 1000
    client_timeout_seconds = 100
    client_input_buffer_max_size = 1234567
    rdb_file = ./rdb_file
    server_log_file = ./server_log_file
    server_log_verbose = verbose
    is_sys_log_enabled = true
    is_master_role = true
    max_connection_num = 1024
    ipv4 = 127.0.0.1
    port_for_client = 10000
    full_sync_max_ms = 1000000
    repl_timely_task_interval = 1000
    epoll_wait_timeout = 10
    expire_interval_ms = 1000
