    password = password
    tcp_back_log = 1000
    client_timeout_seconds = 100
    client_input_buffer_max_size = 1234567
    rdb_file = ./rdb_file
    server_log_file = ./server_log_file
    is_master_role = false
    master_ip = 127.0.0.1
    master_port_for_client = 10000
    master_password = password
    max_connection_num = 1024
    ipv4 = 127.0.0.1
    port_for_client = 20000
    full_sync_max_ms = 1000000
    repl_timely_task_interval = 1000
    epoll_wait_timeout = 1
    expire_interval_ms = 1000
